version: "3.8"

services:
  blockchain:
    image: ghcr.io/foundry-rs/foundry:latest
    command: anvil --host 0.0.0.0
    ports:
      - "8545:8545"

  deployer:
    build:
      context: .
      dockerfile: docker/Dockerfile
    depends_on:
      - blockchain
    environment:
      - HARDHAT_NETWORK=localhost
    volumes:
      - .:/app
